<%= render "light_section_header", taxon: @taxon %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "taxonomy_navbar", taxonomies: @taxonomies %>
        <%= render "filter_navbar" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "sort" %>
        <%= render "main_categories", products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render "light_section_brand" %>